@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your chat.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3></h3>
<p>
    Sorry, there was a problem in our server. Please <strong>close this windows</strong> and trying again, thanks.
</p>
<p>
    Please, <strong>clean your browser cache/cookies.</strong>
</p>
