@{
    ViewData["Title"] = "Chat";
}

@section scripts {

}

<header>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">LiveChat</span>
    </nav>
</header>
<div class="text-center">
    <h1 class="display-4">Welcome to Our Chat</h1>
</div>
<div class="container">
    <form asp-controller="Chat" asp-action="Index" method="post">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name:</span>
            </div>
            <input type="text" class="form-control" placeholder="Full Name" id="name" name="name" aria-label="Name" aria-describedby="basic-addon1" required >
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Account Number:</span>
            </div>
            <input type="text" class="form-control" placeholder="5Dxxxxx" id="customerid" name="customerid" aria-label="Account" aria-describedby="basic-addon1" >
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Choose a department:</span>
            </div>
            <select class="form-control" id="queuename" name="queuename">
                <option value="WebChat_Demo">Chat Demo</option>
                <option value="Affiliates - Chat">Affiliates Department</option>
                <option value="Bonus - Chat">Bonus Department</option>
                <option value="Casino & Poker Support - Chat">Casino & Poker Support Department</option>
                <option value="Credit Card Department">Credit Card Department</option>
                <option value="Customer Service - Chat">Customer Service Department</option>
                <option value="Deposit - Chat">Deposit Department</option>
                <option value="New Accounts - Chat">New Accounts Department</option>
                <option value="Payouts - Chat">Payouts Department</option>
                <option value="Wagering Issues - Chat">Wagering Issues Department</option>
                <option value="New Accounts - Chat">Login Issues</option>


            </select>
        </div>
        <br />
        <div class="form-row">
            <div class="form-group-sm col-md-offset-2 col-md-10">
                <input type="submit" class="btn-primary btn-xs btn" value="Chat with Us  &raquo;" />
                @*<button type="submit" class="btn btn-primary btn-xs">Chat with Us  &raquo;</button>*@
                <input name="__RequestVerificationToken" type="hidden" value="[Some token]" />
            </div>
        </div>
    </form>
</div>