@model LiveChat.Models.Queues;

@{
    ViewData["Title"] = "Live Chat";
}

@section scripts {

}

<header>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">LiveChat</span>
    </nav>
</header>
<div class="text-center">
    <h1 class="display-4">Welcome to Our Chat</h1>
</div>
<div class="container">
    <form asp-controller="Chat" asp-action="Index" asp-antiforgery="false" method="post">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name:</span>
            </div>
            <input type="text" class="form-control" placeholder="Full Name" id="name" name="name" aria-label="Name" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Account Number:</span>
            </div>
            <input type="text" class="form-control" placeholder="5Dxxxxx" id="customerid" name="customerid" aria-label="Account" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Choose a department:</span>
            </div>
            <select class="form-control" id="queuename" name="queuename">
                @foreach (var item in Model.data)
                {
                    <option value="@item.Value">@Html.DisplayFor(modelItem => item.Value)</option>
                }
            </select>
        </div>
        <br />
        <div class="form-row">
            <div class="form-group-sm col-md-offset-2 col-md-10">
                <input type="submit" class="btn-primary btn-xs btn" value="Chat with Us &raquo;" />
            </div>
        </div>
    </form>
</div>