
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    background: #333;
}

#page-wrapper {
    width: 100%;
    background: #FFF;
    padding: 1em;
    margin: 1em auto;
    border-top: 5px solid #69c773;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
    margin-top: 0;
}

#status {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.open {
    color: green;
}

.closed {
    color: red;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.95rem;
}

    ul li {
        padding: 0.5rem 0.75rem;
        border-bottom: 1px solid #EEE;
    }

        ul li:first-child {
            border-top: 1px solid #EEE;
        }

        ul li span {
            display: inline-block;
            width: 90px;
            font-weight: bold;
            color: #999;
            font-size: 0.7rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

.sent {
    background-color: #F7F7F7;
    text-align: right;
}

.received {
    text-align: left;
}

#message-form {
    margin-top: 1.5rem;
}

textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    min-height: 50px;
    margin-bottom: 1rem;
    height: 50px;
    position: relative;
    display: inline-block;
}

button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.6rem 1em;
    color: white;
    margin: 0 0.25rem;
    text-align: center;
    background: #BABABA;
    border-bottom: 1px solid #999;
}

    button[type="submit"] {
        background: #86b32d;
        border-bottom: 1px solid #5d7d1f;
    }

    button:hover {
        opacity: 0.75;
        cursor: pointer;
    }

.chat__body {
    display: none;
    position: relative;
    background-color: #f2f2f2;
    height: 600px;
}

    .chat__body .chat__main .__chat__ {
        padding: 15px 15px;
        border-radius: 20px;
        margin: 20px 20px 0px 20px;
        width: 65%;
    }

        .chat__body .chat__main .__chat__ p {
            font-weight: 400;
        }

            .chat__body .chat__main .__chat__ p.delivery-status {
                display: none;
                font-size: 12px;
                float: right;
                top: -10px;
                position: relative;
            }

        .chat__body .chat__main .__chat__.from__chat {
            background-color: #d9d9d9;
        }

        .chat__body .chat__main .__chat__.receive__chat {
            background-color: #4d9aff;
            float: right;
            color: #fff;
        }

    .chat__body .chat__type__body {
        position: absolute;
        height: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }

        .chat__body .chat__type__body .chat__type {
            background-color: #e6e6e6;
            width: 100%;
        }

            .chat__body .chat__type__body .chat__type textarea {
                background-color: inherit;
                width: 85%;
                padding: 10px 10px 0px;
                border: none;
                display: inline-block;
            }

            .chat__body .chat__type__body .chat__type #sendMessage {
                position: relative;
                display: inline-block;
                top: -15px;
                width: 14%;
            }

    .chat__body .typing_display__open {
        bottom: 30px;
    }

    .chat__body .chat__typing {
        position: absolute;
        display: none;
        height: 30px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        background-color: #f2f2f2;
        padding: 5px;
    }

        .chat__body .chat__typing span {
            font-style: italic;
            font-size: 12px;
            color: #999999;
        }

